/* Last edit: 2024-12-09, 13:11 IST */

.collapsible {
	border: none;
	text-decoration: underline;
}

.collapsible:after {
	content: '\002B\00a0';
	float: left;
}

.active:hover {
	color: rgba(255, 240, 209, 0.7);
}

.active:after {
	content: '\2212\00a0';	
}

div {
	padding: 0px 10px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}